.rs {
  font-size: 0.5em;
}

.item-md {
  padding-left: 0px;
}

.ipiranga-1 {
  background-color: #175EAC;
}

.ipiranga-2 {
  background-color: #F5D218;
}

.shell-1 {
  background-color: #FE0000;
}

.shell-2 {
  background-color: #FFD900;
}

.br-1 {
  background-color: #009241;
}

.br-2 {
  background-color: #F8C400;
}

.label-md {
  margin: 0px;
}

.text-gas {
  padding: 15px 15px 15px;
}

.colors-gas {
  height: 1px;
}