.rs {
  font-size: 0.5em;
}

.item-md {
  padding-left: 0px;
}

.ipiranga-1 {
  background-color: #175EAC;
}

.ipiranga-2 {
  background-color: #F5D218;
}

.shell-1 {
  background-color: #FE0000;
}

.shell-2 {
  background-color: #FFD900;
}

.br-1 {
  background-color: #009241;
}

.br-2 {
  background-color: #F8C400;
}

.undefined-color-1 {
  background-color: rgb(146, 146, 146);
}

.undefined-color-2 {
  background-color: rgb(179, 179, 179);
}

.label-md {
  margin: 0px;
}

.text-gas {
  padding: 15px 15px 15px;
}

.colors-gas {
  height: 1px;
}

.founded-list {
  padding: 5px 0px;
  background-color: #498aff;
  color: white;

  span {
    font-size: 14px;
  }
}