<ion-header>
  <ion-navbar color="primary">
    <div class="w-100 order-by-container">
      <ion-item class="order-by">
        <ion-select placeholder="Escolha" (ngModelChange)="orderBy($event)" [(ngModel)]="orderByAny" interface="popover">
          <ion-option value="values[{{ fuelType.number }}].value">Preço</ion-option>
          <ion-option value="distance">Distância</ion-option>
          <ion-option value="flag">Bandeira</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-buttons left>
      <button (click)="changeFuel()" ion-button icon-left>
        <ion-icon name="shuffle"></ion-icon>
         {{ fuelType.type }}
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="openMap()" ion-button icon-left>
        <ion-icon name="map"></ion-icon>
         Mapa
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar">
    </ion-refresher-content>
  </ion-refresher>

  <div [hidden]="gasStationsList.length" class="founded-list text-center">
    <div *ngIf="!loadingRoute">
      <span class="w-100">Buscando postos em um raio de {{ ( (auxRaio === 500) ? raio : auxRaio ) | transformDistance }}</span>
      <span *ngIf="gasStationsList.length >= 1" class="w-100">Postos na sua região.</span>
    </div>
  </div>
  <ion-list>
    <ion-item ion-item *ngFor="let gasStation of gasStationsList" (click)="openGasStation(gasStation)">
      <ion-card class="card card-md">
        <div class="w-100">
            <div *ngIf="gasStation.flag==='Ipiranga'" class="ipiranga-2 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='Ipiranga'" class="ipiranga-1 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='Shell'" class="shell-2 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='Shell'" class="shell-1 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='BR'" class="br-2 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='BR'" class="br-1 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='UNDEFINED'" class="undefined-color-2 flag-size w-50 pull-right"></div>
          <div *ngIf="gasStation.flag==='UNDEFINED'" class="undefined-color-1 flag-size w-50 pull-right"></div>
        </div>
        <ion-card-content class="card-content card-content-md">
          <span class="pull-right distance">{{ gasStation.distance | transformDistance }}</span>
          <ion-card-title class="cabin-font card-title card-title-md ellipsis w-85 title-list-gas">
            {{ gasStation?.name | uppercase }}
          </ion-card-title>
          <p class="ellipsis">{{ gasStation?.location }}</p>
        </ion-card-content>
        <ion-item class="item item-block item-md value-container">
          <span class="cabin-font p-15 fuel-type-label">{{ fuelType.label }}</span>
          <ion-badge item-end="" class="value-badge badge badge-md">R${{ (gasStation.values | filterBy:'type':fuelType.type).value }}</ion-badge><br/>
          <span class="updated-at">
            Valor atualizado em {{ (gasStation.values | filterBy:'type':fuelType.type).updatedAt | moment: 'DD/MM/YYYY HH:mm' }}
          </span>
          <div class="button-effect"></div>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
<span id="map" style="display: none"></span>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
